{% extends 'catalog/base.html' %}
 
{% block content %} 
  <h1>Food Pantry Home</h1>
  <p>The pantry has the following customers:</p>
  <ul> 
    <li><strong>Customers:</strong> {{ num_customers }}</li>
    <!--li><strong>Copies:</strong> {{ num_instances }}</li-->
    <!--li><strong>Copies available:</strong> {{ num_instances_available }}</li-->
    <!--li><strong>Authors:</strong> {{ num_authors }}</li-->
  </ul>

    <p>You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.</p>
{% endblock %} 