<!DOCTYPE html>
<html>
<head>
    <title>Order Fulfillment</title>
</head>
<body>
    <h1>Order Fulfillment Page</h1>

    <h2>Orders for Packing:</h2>
    <ul>
        {% for order in pending_orders %}
            <li>{{ order }}</li>
        {% empty %}
            <li>No pending orders.</li>
        {% endfor %}
    </ul>

    <h2>Orders for Pickup:</h2>
    <ul>
        {% for order in current_orders %}
            <li>{{ order }}</li>
        {% empty %}
            <li>No current orders.</li>
        {% endfor %}
    </ul>

    <h2>Orders to be Returned:</h2>
    <ul>
        {% for order in old_orders %}
            <li>{{ order }}</li>
        {% empty %}
            <li>No old orders.</li>
        {% endfor %}
    </ul>
</body>
</html>
