{% extends "catalog/base.html" %} 
{% load crispy_forms_tags %} 
{% load crispy_forms_filters %} 
 
{% block content %} 
    {% if perms.catalog.edit_fulfillment %} 
        <form action="" method="POST"> 
            <!--{{ from.as_p }}  mjl 7/30/2024 found used in online research -->
            {% csrf_token %} 
            {{ form|crispy }} 
 
            <input type="submit" value="Submit"/> 
        </form> 
    {% else %} 
        You do not have permission to access this feature 
        <a href="{% url 'order_fulfillment' %}">Close</a> 
    {% endif %} 
{% endblock %} 